[submodule "Extruder/Galileo/Galileo-stealthBurner"]
	path = Extruder/Galileo/Galileo-stealthBurner
	url = https://github.com/Mamsih/Galileo-stealthBurner
[submodule "MMU/EnragedRabbitProject"]
	path = MMU/EnragedRabbitProject
	url = https://github.com/EtteGit/EnragedRabbitProject.git
[submodule "Mods/Filter/Nevermore_Micro"]
	path = Mods/Filter/Nevermore_Micro
	url = https://github.com/nevermore3d/Nevermore_Micro.git
[submodule "Mods/Euclid_Probe"]
	path = Mods/Euclid_Probe
	url = https://github.com/nionio6915/Euclid_Probe.git
[submodule "Mods\\Filter\\Nevermore-Klipper"]
	path = Mods\\Filter\\Nevermore-Klipper
	url = https://github.com/top-gun/Nevermore-Klipper.git
